<%- include('../partials/header') %>
<ul>
  <% skills.forEach(function(skill){ %>
  <li>
    <form action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
      <button type="submit">X</button>
    </form>
    <a href="/skills/<%= skill.id %> "><%= skill.skill %></a>
  </li>

  <% }) %>

</ul>

<%- include('../partials/footer') %>