<%- include('../partials/header') %>

<h1>Skill Id: <%= skill.id %></h1>
<h3>Name: <%= skill.skill %></h3>
<h3>Type: <%= skill.type %></h3>

<form action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
  <button type="submit">Delete</button>
</form>

<%- include('../partials/footer') %>